body {background-color:#ff0000;
}

@media screen and ( max-width:800px  ){
  body {
     background-color:  rgb(251, 255, 0) ;
  }
     .part1{color: red;
     font-size: 150%;}

     .part2{color: rgb(0, 204, 255);
        font-style: 150%;}

      .part3{color: rgb(43, 255, 0);
            font-style: 150%;}
     
      .part4      {color: rgb(132, 0, 255);
                font-style: 150%;}
}
